* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }




  .container {
    align-items: center;
     
    text-align: center;
}

button.btn {
  padding: 10px 20px;
  margin-top: 14%;
  background: orangered;
  color: white;
  cursor: pointer;
}







li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 281px;
    margin: auto;
    padding-top: 19px;
    
}

 
    


ul {
   
    background-size: 83px;
    background-color: beige;
    height: 57px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    list-style: none;
    text-decoration: blink;
    color: black;
}